<h1>Portfolios</h1>

<%= link_to 'new_portfolio', new_portfolio_path %>

<% @portfolios.each do |portfolio| %>
  <div class="portfolio-item">
    <h3>
      <%= link_to portfolio.title, portfolio %>
    </h3>
    <h5><%= portfolio.subtitle %></h5>
    <p><%= portfolio.body %></p>
    <%= image_tag portfolio.thumb_image if portfolio.thumb_image %>
  </div>

  <%= link_to 'edit', edit_portfolio_path(portfolio) %>
  <%= link_to 'delete', portfolio, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
